@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #cbe6ff;
}

html{
   scrollbar-gutter: stable both-edges;
}
body::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
    background-color: transparent;
    overflow-x: hidden;
}

/* Create custom scrollbar */
body::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: #8fa4b8;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #7ea6cc;
}
